

.tittleBar {
  background: #8edfa1;
  width: 100%;
  margin: auto;
  text-align: left;
  font-size:larger;
}

.tittleText{
  color:	#2F4F4F;
  margin-left: 50px; 
}

.topbariOS{
  background: #4169E1;
  width: 500px;
}

.topbarAndroid{
  background: 	#228B22;
  width: 500px;
}

.topbarWeb{
  background: 	#FFA500;
  width: 500px;
}

.platformAndroid{
  display: inline;
  background: #32CD32;
  padding-right: 3px;
  padding-left: 1px;  
}

.platformiOS{
  display: inline;
  background: #4169E1;
  padding-right: 3px;
  padding-left: 1px;  
}

.platformWeb{
  display: inline;
  background: 	#FFD700;
  padding-right: 3px;
  padding-left: 1px;  
}

.test1{
    width: 500px;
    border-radius: 4px;
    margin: 2px;
    display: inline-block;
}

.test2{
    width: 500px;
    border-radius: 4px;
    margin: 2px;
    display: inline-block;
    margin-top: 20px;
}

.btnExpandFormatiOS{
  cursor:pointer;
  background: 	#87CEFA;
  border: none;
  text-align: left;
  width: 500px;
  font-size: large;
  padding-bottom: 15px;
}

.btnExpandFormatAndroid{
  cursor:pointer;
  background: #90EE90;
  border: none;
  text-align: left;
  width: 500px;
  font-size: large;
  padding-bottom: 15px;
}

.btnExpandFormatWeb{
  cursor:pointer;
  background: #F0E68C;
  border: none;
  text-align: left;
  width: 500px;
  font-size: large;
  padding-bottom: 15px;
}

.btnExpandFormatiOS:hover {
  background: 	#778899;
  opacity: 0.5;
  transition: background ease 0.2s;
}

.btnExpandFormatAndroid:hover {
  background: 	#778899;
  opacity: 0.5;
  transition: background ease 0.2s;
}

.btnExpandFormatWeb:hover {
  background: 	#778899;
  opacity: 0.5;
  transition: background ease 0.2s;
}

iframe{
width: 100vw;
max-width: 95%;
height: 740px;
margin-left: 30px;
margin-right: 10px;
border: 1px solid #99bd2a;
}

.testAleloTransparente{
  margin-left: 30px;
  width: 20%;
}

.container{
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}

body {
  font-family: sans-serif;
  background: #f0f0f0;
}

.open {
  transition: height ease 0.5s;
}

.openCenarios {
  height: 100%;
  transition: height ease 0.5s;
}

.content {
  height: 0px;
  overflow: hidden;
  transition: height ease 0.0s;
}


